.OneOrder{
    color: blue;
}
.succ-main{
    /* background-color: aqua; */
    height: 600px;
    display: flex;
    align-items: center;
}
.succ-in{
    /* background-color: beige; */
    height: 500px;
}
.succ-in .card{
    background-color: transparent !important;
    box-shadow: 0 0 3px 2px rgba(175, 168, 168, 0.05);
    /* box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15); */

}