.cartBox {
    background-color: white !important;
    width: 25%;
    max-width: 350px;
    height: auto;
    min-height: 220px;
    z-index: 9999 !important;
    position: fixed !important;
    top: 100px !important;
    right: 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    padding: 20px !important;
    overflow-y: auto;
    max-height: 400px;
}
.remove-btn {
   width: 10% !important;
    background: transparent !important;
    font-size: 20px;
    color: black !important; 
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

.sumOne {
    /* background-color: aqua; */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.sumOne .btn{
    background-color: transparent !important;
    border: 1px solid #dee2e6;
    /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, .05); */
}

.sumRight {
    /* background-color: bisque; */
    padding: 5px;
    border-radius: 8px;
  border: 1px solid #dee2e6;
  
}
.total{
    display: flex;
    text-align: right;
}

.cart-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    /* Ensures proper image scaling */
    border-radius: 5px;
}

.cart-placeholder {
    width: 60px;
    height: 60px;
    /* background-color: #ddd; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #666;
    border-radius: 5px;
}

.sumRightOne{
    font-size: 14px;
    font-family: "Courgette", serif;

}
.sumRightTwo{
    font-size: 13px;
    font-family: "PT Serif", serif;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .cartBox{
        width: 30%;
    }
    
}

@media (min-width: 577px) and (max-width: 768px){
    .cartBox{
        width: 45%;
    }
    

}
@media (max-width: 576px){
    .cartBox{
        width: 77%;
    }
   

}
@media (max-width: 376px){
    .cartBox{
        width: 78% !important;
    }
}
@media (max-width: 325px){
    .cartBox{
        width: 92% !important;
        right: 15px;
        top:120px;
        
    }   
}



