* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "PT Serif", serif;
}

/* header css */
.one {
  /* background-color: lightcyan; */
  height: 180px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.two {
  /* background-color: lightpink; */
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three {
  /* background-color: lightskyblue; */
  height: 180px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60%;
  height: 150px;
}

.image {
  background-color: #a3ad6f;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.left {
  /* background-color: brown; */
  width: 50%;
  height: 90px;
}

.bar {
  background-image: url(./images/bg_menu.jpg);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-out {
  /* background-color: burlywood; */
  height: 80px;
  padding: 10px !important;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav .nav-link {
  color: white;
  /* color: black; */
  font-size: 12.992px;
  font-weight: 600;
  line-height: 40px;
  /* height: 80px; */
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.navbar-nav .nav-link:hover {
  color: rgb(241, 232, 232);

}

.offcanvas-body div {
  padding-left: 0px !important;

}

.navbar-nav a {
  padding-left: 20px;

}

.navbar {
  --bs-navbar-toggler-border-color: transparent !important;

}

.bag {
  width: 21px;
  height: 21px;
  color: white !important;
  /* background-color: chartreuse; */
}

.phone {
  width: 21px;
  height: 21px;
  color: white !important;
}

.span {
  color: #928b84;
  font-size: 13px;
}

.span-text {
  font-size: 16.002px;
}

/* headerNav */
.nav-link {
  margin-right: 15px;
}

.list {
  list-style-type: none;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #88915c;
}

.dropdown-menu[data-bs-popper] {
  left: -20px !important;
  background-color: #88915c;
  display: none;
  padding: 15px;
}

.dropdown-item {
  font-size: 13px;
  letter-spacing: 2px;
  color: white !important;
  background-color: transparent !important;
}

.dropOne,
.dropTwo {
  margin-left: 8px;
}

.dropOne:hover {
  border: 3px solid white !important;
}

.dropTwo:hover {
  border: 3px solid white !important;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.dropdown-toggle {
  display: block !important;
  /* Forces display for testing */
}



/* carousel section */

.welcome {
  --bs-gutter-x: 0px !important;
}
.welcome .carousel-control-prev-icon{
  display: none;
}
.welcome .carousel-control-next-icon{
  display: none;

}

.zoom-slide {
  width: 200px;
  height: 200px;
  background-color: red;
  transform: scale(1);
  /* Initial scale */
  animation: zoomInOut 6s ease-in-out infinite;
  /* Infinite loop */
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    /* Start at original size */
  }

  50% {
    transform: scale(1.1);
    /* Zoom in at 3 seconds */
  }

  100% {
    transform: scale(1);
    /* Zoom out at 6 seconds */
  }
}

/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: unset !important;
} */

.carousel-caption h1 {
  font-size: 51px;
  font-family: "Courgette", serif;
}

.captionOne,
.captionTwo,
.captionThree {
  left: 445px !important;
  width: 45% !important;
  bottom: 185px !important;
}

.images {
  width: 200px;
  height: 25px;
}

.carousel-indicators button {
  border-radius: 60%;
  width: 1% !important;
  height: 8px !important;
  margin-right: 12px !important;

}

.carousel-indicators {
  bottom: 80px !important;
}

/* green */
.green {
  background-color: #88915c;
  height: 160px;
}

.greenOne {
  /* background-color: aqua; */
  font-family: "Courgette", serif;
  font-size: 29.114px;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenTwo {
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;


}

.green-btn {
  font-family: "PT Serif", serif;
  background-color: #88915c;
  font-size: 11.998px;
  letter-spacing: 3px;
  border: 3px solid white !important;
  color: white;
  width: 100%;
  height: 70px;
}

.green-btn:hover {
  background-color: white;
  font-weight: 600;
  color: #88915c;
}

/* welcome */


.box {
  /* background-color: cadetblue; */
  height: 740px;
}

.gap col {
  background-color: transparent;
}

.wel-main {
  /* background-color: aqua;  */
}

.w-head {
  /* background-color:brown; */
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: end;

}

.wel-one {
  font-family: "Courgette", serif;
  font-size: 35px;
  text-align: center;
}

.wel-two {
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  font-weight: 600;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.w-para {
  /* background-color: burlywood; */
  color: #928b84;
  height: 30px;

}

.w-divider {
  /* background-color: lightgrey; */
  height: 70px;
}

.d-images {
  width: 200px;
  height: 25px;

}

.linkHover {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  position: absolute;
  top: 70px;
  left: 160px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2;

}

.card-imgOne:hover .linkHover {
  visibility: visible;
}

.card-imgOne:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  /* Darken the background by 40% */
  opacity: 0.8;
  /* Apply 80% opacity to the entire element */
}

.card-imgTwo:hover .linkHover {
  visibility: visible;
}

.card-imgTwo:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  /* Darken the background by 40% */
  opacity: 0.8;
  /* Apply 80% opacity to the entire element */
}

.card-imgThree:hover .linkHover {
  visibility: visible;
}

.card-imgThree:hover {
  background-color: #d8d8e3;
  filter: brightness(0.6);
  opacity: 0.8;
}

.linkIcon {
  width: 50%;
  height: 80px;
  color: white;


}


/* card */
.cardBox {
  /* background-color: bisque; */
  height: 440px;
}

.card-img {
  width: 370px;
  height: 240px;
  outline: 4px solid white;
  outline-offset: -15px;

}

.card-imgOne {
  background-image: url(./images/img1-370x240.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;



}

.card-imgTwo {
  background-image: url(./images/img2-370x240.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-imgThree {
  background-image: url(./images/img3-370x240.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}



.card-head {
  /* background-color: chartreuse; */
  font-family: "Courgette", serif;
  font-size: 20.006px !important;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;

}

.card-btn {
  width: 50%;
  font-size: 11.998px !important;
  height: 60px;
  margin-left: 100px;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.btn {
  --bs-btn-border-radius: 0 !important;
  background-color: #cbb9a6 !important;
  --bs-btn-border-color: transparent !important;

}

.btn:hover {
  background-color: #88915c !important;
  border: none;
}

.card-white {
  background-color: blueviolet;
  width: 100%;
  height: 450px;
}

.card {
  border: none !important;
}

/* about */
.about {
  /* background-color: aqua; */
  background-image: url(./images/bg1-1\ pro.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  display: flex;
  align-items: center;
}

.about-main {
  /* background-color: cadetblue; */
  height: 600px;

}

.a-one {
  /* background-color: brown; */
  height: 500px;
}

.a-two {
  /* background-color: #928b84; */
  height: 500px;
}

/* about */
.about-image {
  outline: 3px solid white;
  outline-offset: -15px;
  width: 100%;
  height: 490px;
}

.a-head {
  /* background-color:darkkhaki; */
  height: 60px;

}

.a-headOne {
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  color: #928b84;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}

.a-para {
  /* background-color: beige; */
  height: 130px;
}

.a-paraOne {
  font-family: "Courgette", serif;
  font-size: 39.998px;
}

.a-images {
  width: 25%;
}

.a-last {
  /* background-color:bisque; */
  height: 150px;
  display: flex;
  align-items: center;
}

.a-lastOne {
  font-family: "PT Serif", serif;
  font-size: 15px;
  line-height: 1.5em;
  color: #928b84;
}

.a-btn {
  /* background-color: aqua; */
  height: 100px;
  display: flex;
  align-items: center;
}

.a-btnn {
  width: 40%;
  height: 70px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  letter-spacing: 2px;
  word-spacing: 2px;
  border: none;
  color: white;
}

.a-btnn:hover {
  background-color: #cbb9a6;

}

/* content */
.content {
  /* background-color:aqua; */
  height: 375px;
  display: flex;
  align-items: center;
}

.content-main {
  /* background-color: brown; */
  height: 180px;
}

.content-box {
  /* background-color: bisque; */
  height: 250px;
}

.contentBox {
  background-color: #f2f1f0;
  height: 180px;
  display: flex;
  align-items: end;
}

.content-up {
  /* background-color: brown; */
  position: relative;
}


.content-icon {
  background-color: #cbb9a6;
  width: 110px;
  height: 110px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 125px;
  top: -68px;
}

.content-head {
  font-size: 20.006px;
  font-family: "Courgette", serif;
  font-weight: 400;
  font-style: normal;
  height: 70px;
  /* background-color: cadetblue; */
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: center;
}

.content-para {
  font-size: 15px;
  font-family: "PT Serif", serif;
  color: #928b84;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  /* background-color: chocolate; */
  width: 100%;
  text-align: center;
}

.c-Icon {
  color: white;
  width: 40px;
  height: 40px;

}

.card {
  /* --bs-card-bg:transparent !important; */
  background-color: #f2f1f0 !important;
}

/* shop */
.shopHover {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  position: absolute;
  top: 150px;
  left: 130px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2;

}

.card-sImgOne:hover .shopHover {
  visibility: visible;
}

.card-sImgOne:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  /* Darken the background by 40% */
  opacity: 0.8;
  /* Apply 80% opacity to the entire element */
}
.card-sImgTwo:hover .shopHover {
  visibility: visible;
}

.card-sImgTwo:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;
}
.card-sImgThree:hover .shopHover {
  visibility: visible;
}

.card-sImgThree:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;
}
.card-sImgFour:hover .shopHover {
  visibility: visible;
}

.card-sImgFour:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;
}
.card-sImgFive:hover .shopHover {
  visibility: visible;
}

.card-sImgFive:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;
}
.card-sImgSix:hover .shopHover{
  visibility: visible;
}

.card-sImgSix:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;
}

.shopIcon {
  width: 50%;
  height: 80px;
  color: white;

}

.shop {
  /* background-color: aqua; */
  height: 1580px;
  display: flex;
  justify-content: center;
}

.shop-main {
  /* background-color: beige; */
  height: 1545px;
}

.shop-head {
  /* background-color: brown; */
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.shop-boxOne {
  /* background-color: cadetblue; */
  height: 640px;
  margin-bottom: 60px;
}



.shop-boxTwo {
  /* background-color:burlywood; */
  height: 640px;
}

.card-Shead {
  /* background-color: chartreuse; */
  font-family: "Courgette", serif;
  font-size: 18.004px !important;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;

}

.card-sImg {
  width: 369px;
  height: 409px;
  overflow: hidden;

}

.card-sImg img {
  object-fit: cover;

}

.card-sImgOne {
  background-image: url(./images/product1-706x783.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.card-sImgThree {
  background-image: url(./images/product3-706x783.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-sImgTwo {
  background-image: url(./images/product2-706x783.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-sImgFour {
  background-image: url(./images/product4-706x783\ \(1\).jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-sImgFive {
  background-image: url(./images/product5-555x615.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-sImgSix {
  background-image: url(./images/product6-555x615.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-price {
  color: #88915c;
  font-weight: 600;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-sWhite {
  width: fit-content;
  /* Adjust to the image size */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-shopbtn {
  width: 100%;
  font-size: 11.998px !important;
  height: 60px;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  word-spacing: 2px;
}

/* inspiration */
.ins-box {
  /* background-color:brown; */
  height: 600px;
}

.ins-left {
  height: 580px;
  background-image: url(./images/ins-left.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ins-right {
  background-image: url(./images/ins-right.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;

}

.i-paraOne {
  font-family: "Courgette", serif;
  font-size: 49.994px;
}

.i-btnn {
  width: 40%;
  height: 70px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  word-spacing: 2px;
  border: none;
  color: white;
}

.i-btnn:hover {
  background-color: #cbb9a6;

}

.i-last {
  /* background-color:bisque; */
  height: 120px;
  display: flex;
  align-items: center;
}

.i-para {
  /* background-color: beige; */
  height: 155px;
}

.i-main {
  /* background-color: cadetblue; */
  height: 440px;
  z-index: 1 !important;

}

.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* testimonial */
.test-image {
  width: 110px;
  height: 110px;
  border-radius: 60px;
}

.test-icon {
  background-color: #cbb9a6;
  width: 110px;
  height: 110px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 513px;
  top: -68px;
}

.card-sec {
  /* background-color:beige; */
  z-index: 2 !important;
}

.sectionBox {
  background-image: url(./images/bg_light.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  display: flex;
  align-items: end;
}

.carousel-indicators {
  display: none !important;
}

/* .sectionBox .carousel-inner {
  overflow: visible !important;
} */
.sectionBox .carousel-control-prev {
  background-color: #cbb9a6;
  width: 5%;
  height: 55px;
  top: 55px;
  border-radius: 48px;
  opacity: 1;
  width: 5%;
  height: 55px;
  top: 55px;
  left: 70px;
  border-radius: 48px;
  opacity: 1;
}

.sectionBox .carousel-control-next {
  background-color: #cbb9a6;
  width: 5%;
  height: 55px;
  top: 55px;
  right: 70px;
  border-radius: 48px;
  opacity: 1;
}

.sectionBox .carousel-control-prev:hover {
  background-color: #88915c;
}

.sectionBox .carousel-control-next:hover {
  background-color: #88915c;
}

.section {
  /* background-color:aqua; */
  height: 375px;
  display: flex;
  align-items: center;
}

.sec-main {
  /* background-color: brown; */
  height: 180px;
  /* height: 350px; */
}

.sec-head {
  font-size: 20.006px;
  font-family: "Courgette", serif;
  font-weight: 400;
  font-style: normal;
  height: 70px;
  /* background-color: cadetblue; */
  display: flex;
  /* width: 100%; */
  align-items: end;
  justify-content: center;
}

.sec-para {
  font-size: 15px;
  font-family: "PT Serif", serif;
  color: #928b84;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  /* background-color: chocolate; */
  /* width: 100%; */
  text-align: center;
}

/* blog */
.blog-box {
  /* background-color: cadetblue; */
  height: 845px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-main {
  /* background-color: beige; */
  height: 825px;
}

.blogBox {
  /* background-color: bisque; */
  height: 440px;
}

.blog-imgOne {
  background-image: url(./images/blog_img1-370x240.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

}

.blog-imgTwo {
  background-image: url(./images/blog_img2-370x240.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-imgOne:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;
}

.blog-imgTwo:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  opacity: 0.8;

}

.blog-imgOne:hover .linkHover {
  visibility: visible;
}

.blog-imgTwo:hover .linkHover {
  visibility: visible;
}

.card-paraTwo {
  /* background-color: chartreuse; */
  font-family: "Courgette", serif;
  font-size: 20.006px;
  height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.card-paraOne {
  /* background-color: lightsteelblue; */
  height: 35px;
  color: #88915c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14.98px;
  font-family: "PT Serif", serif;
  font-weight: 600;
}

.card-paraThree {
  /* background-color: lightskyblue; */
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.last {
  color: #928b84;
  font-size: 14.98px;
  text-decoration: none;

}

.blog-btnn {
  display: flex;
  justify-content: center;
  align-items: center;

}

.blog-inBtn {
  width: 20%;
  height: 70px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  font-weight: 600;
  letter-spacing: 4px;
  color: white;
  border: none;
}

.blog-inBtn:hover {
  background-color: #cbb9a6;

}

/* wedding */
.wed {
  /* background-color: aqua; */
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wed-main {
  /* background-color: beige; */
  background-image: url(./images/wedding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 490px;
}

.wedding-one {
  /* background-color: burlywood; */
  height: 150px;
  display: flex;
  align-items: end;
  text-align: center;
}

.wedding-para {
  font-size: 49.994px;
  color: white;
  font-family: "Courgette", serif;
}

.blog-outer {
  /* background-color: beige; */
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.wed-sub {
  /* background-color: cadetblue; */
  height: 340px;
  display: flex;
  align-items: center;
}

.wed-inBtn {
  width: 20%;
  height: 70px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  font-weight: 600;
  letter-spacing: 4px;
  color: white;
  border: none;
}

.wed-inBtn:hover {
  background-color: #cbb9a6;

}

/* prices */
.price {
  /* background-color: aqua; */
  height: 770px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-main {
  /* background-color:beige; */
  height: 745px;
}

.price-Box {
  /* background-color: bisque; */
  height: 560px;
}

.price-imgOne {
  background-image: url(./images/price-one.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.price-imgTwo {
  background-image: url(./images/price-two.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.price-imgThree {
  background-image: url(./images/price-three.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.price-img {
  width: 370px;
  height: 165.55px;
  display: flex;
  justify-content: center;
}

.list-item {
  /* background-color:azure; */
  font-size: 14px;
  text-align: center;
  color: #928b84 !important;

}

.list-out {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
}

.amount {
  /* background-color:aqua; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.from {
  font-size: 14.98px;
  font-family: "PT Serif", serif;
  color: #928b84;
}

.number {
  font-size: 21.4064px;
  color: #424443;
  font-family: "PT Serif", serif;

}

.price-btn {
  background-color: darkgrey;
  height: 90px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.price-btnn {
  width: 50%;
  height: 70px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  font-weight: 600;
  letter-spacing: 4px;
  color: white;
  border: none;
}

.list-group-item {
  background-color: transparent !important;
}

.updates {
  height: 180px;
  background-color: #88915c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.updates-main {
  /* background-color: aqua; */
  height: 150px;
}

.up-left {
  /* background-color: cadetblue; */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Courgette", serif;
  font-size: 28px;
}

.up-right {
  /* background-color:grey; */
  height: 120px;
}

.up-rightBox {
  /* background-color: brown; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.up-btn {
  width: 100%;
  height: 60px;
  background-color: #88915c;
  border: 4px solid white;
  color: white;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-size: 12px;
}

.up-btn:hover {
  background-color: white;
  color: #928b84;
}

.input-box {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.input-box::placeholder {
  color: white;
  opacity: 1;
}

.input-box:focus {
  border-bottom: none;
}

.img-box {
  background-color: aqua;
  height: 400px;
}

/* picture */
.pic-box {
  background-color: aqua;
  height: 370px;
}

.pic-main {
  background-color: grey;
  height: 365px;
}

.pic-one {
  background-color: beige;
  background-image: url(./images/gallery-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 363.63px;
  height: 363.63px;
  position: relative;
  overflow: hidden;
}

.pic-two {
  background-color: burlywood;
  background-image: url(./images/gallery-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 363.63px;
  height: 363.63px;
  position: relative;
  overflow: hidden;
}

.pic-three {
  background-color: beige;
  background-image: url(./images/gallery-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 363.63px;
  height: 363.63px;
  position: relative;
  overflow: hidden;
}

.pic-four {
  background-color: burlywood;
  background-image: url(./images/gallery_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 363.63px;
  height: 363.63px;
  position: relative;
  overflow: hidden;
}

.pic-one:hover {
  background-color: #928b84;
  filter: brightness(0.2);
  opacity: 0.8;
}

.pic-two:hover {
  background-color: #928b84;
  filter: brightness(0.2);
  opacity: 0.8;
}

.pic-three:hover {
  background-color: #928b84;
  filter: brightness(0.2);
  opacity: 0.8;
}

.pic-four:hover {
  background-color: #928b84;
  filter: brightness(0.2);
  opacity: 0.8;
}

.pic-one:hover .linkHover {
  visibility: visible;
}

.hover-box {
  background-color: aqua;
  height: 363.63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .picHover {
  width:100px;
  height: 100px;
  border-radius: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2;  
}

.picIcon{
  width: 50%;
  height: 80px;
  color: white;
} */

.feed {
  /* background-color: aqua; */
  background-image: url(./images/feed-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-main {
  /* background-color: beige; */
  height: 580px;
}

.form {
  /* background-color: lightpink; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-main {
  /* background-color: cadetblue; */
  height: 290px;
}

.formOne {
  /* background-color: aqua; */
  height: 65px;
  display: flex;
  align-items: center;
}

.formTwo {
  /* background-color: beige; */
  height: 125px;
  display: flex;
  align-items: center;
}

.form-up {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  color: #8a8a8a;
  outline: none;
  padding: 5px;
  font-size: 16px;
  height: 40px;
}

.form-down {
  width: 96%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  color: #8a8a8a;
  outline: none;
  padding: 5px;
  font-size: 16px;
  height: 100px;

}

.formBtn {
  /* background-color: grey; */
  height: 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.formBtnn {
  width: 40%;
  height: 76px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  border: none;
}
/* thank */
.thank {
  /* background-color: darkcyan; */
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-main {
  /* background-color: beige; */
  height: 400px;
}
.thankLogo{
  /* background-color:lightgrey; */
  height: 145px;
  display: flex;
  text-align: center;
  align-items: center;
}
.logoThank{
  width: 290px;
  height: 120px;
}
.thankIcon{
  /* background-color:burlywood; */
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* border-bottom:1px solid #8a8a8a; */
}
.thankIn{
  /* background-color:#928b84; */
  height: 120px;
  display: flex;
align-items: center;
justify-content: center;
}

.iconOuter{
  background-color: #88915c;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.iconInner{
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
}
.line{
  height: 30px;
  /* background-color: lightcyan; */
  display: flex;
  align-items: end;
}
.policy{
  /* background-color: cadetblue; */
  height: 50px;
  display: flex;
  align-items: center;
 text-align: center;
}
.thankLast{
  font-size: 14px;
  font-family: "PT Serif", serif;
  color: #928b84;
}
.lastThank{
  text-decoration: none;
  color: #928b84;
}
@media (max-width: 325px) {

  .navbar-toggler-icon {
    position: absolute;
    right: 40px;
    bottom: 0;
  }
  .card-btn {
    margin-left: 18px !important;
  }
  /* box */
  .content-icon {
    left: 50px !important;
    top: -60px !important;
  }
  /* inspiration */
  .ins-box {
    height: 600px !important;
  }
  .ins-right {
    height: 585px !important;
  }
  .i-main {
    height: 570px !important;
  }
  .i-para {
    height: 260px !important;
  }
  .i-last {
    height: 145px !important;
  }
  .i-btnn {
    width: 80% !important;
  }
  /* shop */
  .shop-main {
    width: 90% !important;
  }
  
  /* about */
  .about-main {
    height: 880px;
  }
  .a-one {
    height: 630px !important;
  }
  .a-last {
    height: 260px !important;
  }

  .card-sec {
    width: 100% !important;
  }

  .sectionBox {
    height: 328px !important;
  }

  .sectionBox .carousel-control-prev,
  .sectionBox .carousel-control-next {
    width: 16% !important;
    height: 33px !important;
  }
  .price-img {
    width: 240px !important;
    height: 125.28px;
  }
  .up-left {
    font-size: 21px;
  }
  .pic-one {
    width: 323.23px !important;
    height: 323.23px !important;
  }
  .pic-main {
    height: 330px !important;
  }
  .pic-box {
    height: 335px !important;
  }
  .logoThank{
    width: 240px !important;
  }
}

@media (max-width: 376px) {
  .bar-out {
    left: 210px !important;
  }

  .greenOne {
    width: 75% !important;
  }
  .content-icon{
    left: 72px !important;
  }

  .linkHover {
    left: 80px !important;
  }

  .sectionBox .carousel-control-prev,
  .sectionBox .carousel-control-next {
    width: 13%;
    height: 32px;
  }

  .price-Box {
    height: 1530px;
  }

  .price-main {
    height: 1720px;
  }

  .price {
    height: 1740px;
  }

  .pic-one {
    width: 378.78px;
    height: 378.78px;
  }

  .pic-main {
    height: 435px;
  }

  .pic-box {
    height: 440px;
  }
  

}

@media (max-width: 576px) {
  .one {
    display: none;
  }
  .logo {
    width: 100%;
  }
  .left {
    /* background-color: transparent; */
    height: 55px;
  }
  .three .left span {
    display: none;
  }

  .three {
    display: flex;
    justify-content: end;
    position: relative;
  }
  .bar-out {
    position: absolute;
    left: 260px;
    top: 50px;
    width: 20% !important;
  }
  .bar {
    background-image: none;
    height: auto;
    /* Reset the height */
    padding: 0;
    /* Ensure no extra padding */
  }
  .navbar-nav .nav-link {
    color: white;
    border-bottom: 1px solid #88915c;
  }
  .navbar-nav {
    background-color: #a3ad6f;
  }

  .offcanvas-body {
    padding: 0 !important;
  }

  .offcanvas-backdrop {
    display: none;
  }
  .offcanvas {
    --bs-offcanvas-width: 506px !important;
    top: 180px !important;
    /* top: 162px !important; */
  }

  .bag {
    color: rgba(0, 0, 0, 0.599) !important;
  }
  /* carousal */
  .carousel-caption h1 {
    font-size: 14px;
  }
  .captionOne,
  .captionTwo,
  .captionThree {
    left: 125px !important;
    bottom: 250px !important;
  }
  .images {
    display: none;
  }
  .carousel-indicators button {
    display: none;
  }
  /* green */
  .greenOne {
    font-size: 18.852px;
    margin: 0 auto;
    text-align: center;
  }
  .greenTwo {
    margin: 0 auto;
  }
  .green-btn {
    font-size: 10.284px;
    letter-spacing: 1px;
  }
  /* welcome */
  .wel-one {
    font-size: 24px;
  }
  .wel-two {
    font-size: 10.284px;
  }
  .linkHover {
    width: 80px;
    height: 80px;
    top: 75px;
    left: 110px;
  }

  .linkIcon {
    width: 50%;
    height: 60px;
  }
  .box {
    height: 1585px;
    display: flex;
    justify-content: center;
  }

  .cardBox {
    height: 1300px;
  }

  .card-btn {
    width: 70%;
    margin-left: 45px;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 30px !important;
    height: 1095px;
  }

  .about-image {
    height: 250px;
  }

  .a-headOne {
    font-size: 12px;
  }

  .a-para {
    height: 150px;
  }

  .a-paraOne {
    font-size: 24px;
  }

  .a-last {
    height: 200px;
  }

  .a-one {
    height: 570px;
  }

  .a-two {
    height: 270px;
  }

  .a-btnn {
    width: 70%;
  }

  .content {
    height: 776px;
    align-items: start;
    justify-content: center;
  }

  .content-main {
    height: 770px;
    display: flex;
    align-items: center;
  }

  .contentBox {
    height: 620px;
  }

  .content-icon {
    left: 95px;
  }

  /* shop */
  .shop {
    height: 3450px;
  }

  .shop-main {
    height: 3430px;
  }

  .shop-boxOne {
    height: 1580px;
  }

  .shop-boxTwo {
    height: 1620px;
  }
  .shopHover{
    top: 100px;
    left: 95px;
  }

  .card-sImg {
    width: 280px;
    height: 310px;
  }

  /* inspiration */
  .ins-box {
    height: 520px;
  }

  .ins-right {
    height: 510px;
  }

  .i-main {
    height: 500px;
  }

  .i-para {
    height: 200px;
  }

  .i-paraOne {
    font-size: 42.852px;
  }

  .i-btnn {
    width: 62%;
    font-size: 10.284px;
    word-spacing: 0px;
  }

  .ins-left {
    display: none;
  }

  .test-icon {
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
  }

  .test-image {
    width: 80px;
    height: 80px;
  }

  .sec-head {
    font-size: 24.645px;
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .sec-para {
    font-size: 12.852px;
    height: auto;
    padding: 5px;
    text-align: center;
  }

  .sec-body {
    height: auto;
    padding: 15px;
  }

  .sectionBox .carousel-control-prev,
  .sectionBox .carousel-control-next {
    width: 13%;
    height: 38px;
    top: 140px;
  }

  .section {
    height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionBox {
    height: 265px;
    display: flex;
    justify-content: center;
  }

  .card-sec {
    width: 95% !important;
  }

  .sectionBox .carousel-control-prev {
    left: -6px;
  }

  .sectionBox .carousel-control-next {
    right: -6px;
  }

  /* box */
  .content-icon {
    left: 100px;
    width: 90px;
    height: 90px;
  }
  .content-head{
    height: 60px;
  }

  /* blog */
  .last {
    font-size: 9.996px;
  }

  .card-paraOne {
    font-size: 9.996px;
  }

  .card-paraTwo {
    font-size: 14.004px !important;
  }

  .blogBox {
    height: 1310px;
  }

  .blog-box {
    height: 1725px;
  }

  .blog-main {
    height: 1700px;
  }

  .blog-inBtn {
    width: 50%;
    height: 50px;
    font-size: 10.284px;
  }

  .wedding-one {
    height: 265px;
  }

  .wedding-para {
    font-size: 42.852px;
  }

  .wed-inBtn {
    font-size: 10.284px;
    width: 65%;
  }

  .wed-sub {
    height: 225px;
  }

  /* price */
  .price-img {
    width: 280px;
    height: 125.28px;
  }

  .list-item {
    font-size: 12px;
  }

  .from {
    font-size: 12.84px;
  }

  .number {
    font-size: 18.314px;
  }

  .price-img {
    width: 280px;
    height: 125.28px;

  }

  .price-Box {
    height: 1530px;
  }

  .price-main {
    height: 1720px;
  }

  .price {
    height: 1740px;
  }

  .up-btn {
    height: 45px;
    width: 100%;
  }

  .up-left {
    font-size: 21px;
    height: 60px;
  }

  .up-rightBox {
    height: 75px;
  }

  .up-right {
    height: 90px;
  }

  .input-box {
    font-size: 12px;
    width: 100%;
  }

  .up-btn {
    height: 45px;
    width: 100%;
  }

  .updates-main {
    height: 160px;
  }

  .pic-one {
    width: 430.29px;
    ;
    height: 430.29px;
  }

  .pic-two {
    width: 430.29px;
    ;
    height: 430.29px;
    display: none;
  }

  .pic-three {
    width: 430.29px;
    ;
    height: 430.29px;
    display: none;
  }

  .pic-four {
    width: 430.29px;
    height: 430.29px;
    display: none;

  }

  /* picture */
  .pic-main {
    height: 435px;
  }

  .pic-box {
    height: 440px;
  }

  /* feedback */
  .formOne {
    height: 100PX;
  }
  .form-main {
    height: 340px;
  }
  .formBtnn{
    height: 63px;
    width: 70%;
  }

  /* thank */
  .thankLast{
    font-size: 12px;
  }
  
}

/*  Tablets in portrait mode.  */

@media (min-width: 577px) and (max-width: 768px) {

  .logo {
    width: 100%;
  }

  .one .left span,
  .three .left span {
    display: none;
  }

  .one .left svg {
    display: none;
  }

  .one .left .image {
    background-color: transparent;
  }

  .one {
    display: flex;
    justify-content: left;
  }

  .three {
    justify-content: end;
  }

  svg {
    /* fill: black; */
    width: 30px;
    height: 30px;
  }

  .bar-out {
    position: absolute;
    right: 670px;
    top: 42px;
    width: 12% !important;
  }

  .bar {
    background-image: none;
    height: auto;
    /* Reset the height */
    padding: 0;
    /* Ensure no extra padding */
  }

  .three .left .image {
    width: 60px;
    height: 60px;
  }

  .navbar-nav .nav-link {
    color: white;
    border-bottom: 1px solid #88915c;
  }

  .navbar-nav {
    background-color: #a3ad6f;
    width: 100%;
  }

  .offcanvas-body {
    padding: 0 !important;
  }

  .offcanvas-backdrop {
    display: none;
  }

  .offcanvas {
    --bs-offcanvas-width: 360px !important;
  }

  .bag {
    height: 40px;
    color: rgba(0, 0, 0, 0.599) !important;
  }

  .three .image {
    background-color: transparent;
  }

  /* carousal */
  .carousel-caption h1 {
    font-size: 26px;
  }

  .captionOne,
  .captionTwo,
  .captionThree {
    left: 210px !important;
    bottom: 210px !important;
  }

  .images {
    width: 130px;
    height: 17px;
  }

  .carousel-indicators button {
    display: none;
  }

  /* green */
  .greenOne {
    font-size: 21.998px;
  }

  /* welcome */


  .wel-one {
    font-size: 25.2px;
  }

  .card-btn {
    margin-left: 20px;
    width: 80%;
  }

  .card-img {
    width: 215px;
    height: 140px;
  }

  .Card-white {
    height: 300px;
  }

  .cardBox {
    height: 345px;

  }

  .linkHover {
    width: 60px;
    height: 60px;
    top: 42px;
    left: 75px;
  }

  .linkIcon {
    width: 50%;
    height: 40px;
  }

  .box {
    margin: 0;
    padding: 0;
    height: 650px;
    /* width: 100%; */
  }

  .about-image {
    height: 267px;
  }

  .a-paraOne {
    font-size: 30.234px;
  }

  .content-icon {
    left: 75px;
  }

  /* shop */
  .card-sImg {
    width: 215px;
    height: 239px;
  }

  .shop-boxOne {
    height: 480px;
  }

  .shop-boxTwo {
    height: 490px;
  }

  .shop-main {
    height: 1185px;
  }

  .shop {
    height: 1205px;
  }
  .shopIcon {
    width: 40%;
    height: 60px;
  }
  .shopHover{
    top: 70px;
    left: 60px;
    width: 80px;
    height: 80px;
  }

  .i-para {
    height: 230px;
  }

  .i-btnn {
    width: 70%;
  }

  .i-main {
    height: 520px;
  }

  .sec-head {
    height: 120px;
    text-align: center;
    font-size: 28.75px;
  }

  .sec-para {
    font-size: 14.94px;
  }

  .card-sec {
    width: 80% !important;
    margin: 0 auto;
  }

  .sectionBox {
    height: 230px;
  }

  .test-icon {
    left: 210px;
  }

  .sectionBox .carousel-control-prev {
    width: 10%;
    top: 83px;
    left: -65px;
  }

  .sectionBox .carousel-control-next {
    width: 10%;
    top: 85px;
    right: -65px;

  }

  /* blog */
  .last {
    font-size: 11.8454px;
  }

  .card-paraOne {
    font-size: 11.8454px;

  }

  .card-paraTwo {
    height: 85px;
  }

  .blogBox {
    height: 350px;
  }

  .blog-box {
    height: 740px;
  }

  .blog-main {
    height: 730px;
  }

  /* price */
  .price-img {
    width: 195.99px;
    height: 96.64px;
  }

  .price-Box {
    height: 560px;
  }

  .price-main {
    height: 740px;
  }

  .price {
    height: 770px;
  }

  /* picture */

  .pic-one {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-two {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-three {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-four {
    width: 258.57px;
    height: 258.57px;
    display: none;
  }

  .pic-main {
    height: 265px;
  }

  .pic-box {
    height: 270px;
  }



}

@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-caption h1 {
    font-size: 34px;
  }

  .captionOne,
  .captionTwo,
  .captionThree {
    left: 290px !important;
    bottom: 210px !important;

  }

  .images {
    width: 150px;
    height: 20px;

  }

  .greenOne {
    font-size: 21.994px;
  }

  /* welcome */
  .linkHover {
    width: 80px;
    height: 80px;
    top: 35px;
    left: 110px;
  }

  .linkIcon {
    width: 50%;
    height: 60px;
  }

  .card-btn {
    margin-left: 20px;
    width: 80%;
  }

  .card-img {
    width: 100%;
    height: 150px;
  }

  .cardBox {
    height: 345px;

  }

  .box {
    height: 650px;
  }

  .about-main {
    width: 90% !important;
  }


  .about-image {

    height: 380px;
  }

  .content-icon {
    left: 62px;
  }

  .card-sImg {
    width: 303px;
    height: 336px;
  }

  .content-main{
    width: 90% !important;
  }

  /* shop */
  .shop-main {
    width: 97% !important;
    height: 1445px;
  }

  .shop {
    height: 1465px;
  }
  .shopHover{
    left: 100px;
    top: 100px;
  }

  /* section */
  .sec-head {
    height: 100px;
    text-align: center;
    font-size: 28.752px;
  }

  .sec-para {
    height: 45px;
    font-size: 14.994px;
  }

  .test-icon {
    left: 290px;
  }

  .sectionBox .carousel-control-prev {
    width: 7%;
    height: 53px;
    left: -75px;
  }

  .sectionBox .carousel-control-next {
    width: 7%;
    height: 53px;
    right: -75px;

  }

  .card-sec {
    width: 80% !important;
    margin: 0 auto;
  }

  .sec-main {
    width: 90% !important;
  }

  /* blog */
  .blogBox {
    height: 340px;
  }

  .blog-box {
    height: 720px;
  }

  .blog-main {
    height: 710px;
  }

  .last {
    font-size: 11.8454px;
  }

  .card-paraOne {
    font-size: 11.8454px;
  }

  .wed-inBtn {
    width: 30%;
  }

  /* price */

  .price {
    height: 750px;
  }

  .price-main {
    width: 95% !important;
    height: 720px;
  }

  .price-Box {
    height: 530px;
  }

  .list-box {
    width: 90% !important;
  }

  .price-img {
    width: 280.33px;
    height: 135.71px;
  }

  .price-btnn {
    width: 60%;
    height: 60px;
  }

  /* picture */

  .pic-one {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-two {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-three {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-four {
    width: 258.57px;
    ;
    height: 258.57px;
  }

  .pic-main {
    height: 265px;
  }

  .pic-box {
    height: 270px;
  }
  .info-main{
    width: 90% !important;

  }
  





}