* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "PT Serif", serif;
}

/* header css */
.one {
  /* background-color: lightcyan; */
  height: 180px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.two {
  /* background-color: lightpink; */
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three {
  /* background-color: lightskyblue; */
  height: 180px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60%;
  height: 150px;
}

.image {
  background-color: #a3ad6f;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.left {
  /* background-color: brown; */
  width: 50%;
  height: 90px;
}

.bar {
  background-image: url(./images/bg_menu.jpg);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-out {
  /* background-color: burlywood; */
  height: 80px;
  padding: 10px !important;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav .nav-link {
  color: white;
  /* color: black; */
  font-size: 12.992px;
  font-weight: 600;
  line-height: 40px;
  /* height: 80px; */
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.navbar-nav .nav-link:hover {
  color: rgb(241, 232, 232);

}

.offcanvas-body div {
  padding-left: 0px !important;

}

.navbar-nav a {
  padding-left: 20px;

}

.navbar {
  --bs-navbar-toggler-border-color: transparent !important;

}

.bag {
  width: 21px;
  height: 21px;
  color: white !important;
  /* background-color: chartreuse; */
}

.phone {
  width: 21px;
  height: 21px;
  color: white !important;
}

.span {
  color: #928b84;
  font-size: 13px;
}

.span-text {
  font-size: 16.002px;
}

/* headerNav */
.nav-link {
  margin-right: 15px;
}

.list {
  list-style-type: none;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #88915c;
}

.dropdown-menu[data-bs-popper] {
  left: -20px !important;
  background-color: #88915c;
  display: none;
  padding: 15px;
}

.dropdown-item {
  font-size: 13px;
  letter-spacing: 2px;
  color: white !important;
  background-color: transparent !important;
}

.dropOne,
.dropTwo {
  margin-left: 8px;
}

.dropOne:hover {
  border: 3px solid white !important;
}

.dropTwo:hover {
  border: 3px solid white !important;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.dropdown-toggle {
  display: block !important;
  /* Forces display for testing */
}



/* carousel section */

.welcome {
  --bs-gutter-x: 0px !important;
}

.zoom-slide {
  width: 200px;
  height: 200px;
  background-color: red;
  transform: scale(1);
  /* Initial scale */
  animation: zoomInOut 6s ease-in-out infinite;
  /* Infinite loop */
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    /* Start at original size */
  }

  50% {
    transform: scale(1.1);
    /* Zoom in at 3 seconds */
  }

  100% {
    transform: scale(1);
    /* Zoom out at 6 seconds */
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: unset !important;
}

.carousel-caption h1 {
  font-size: 51px;
  font-family: "Courgette", serif;
}

.captionOne,
.captionTwo,
.captionThree {
  left: 445px !important;
  width: 45% !important;
  bottom: 185px !important;
}

.images {
  width: 200px;
  height: 25px;
}

.carousel-indicators button {
  border-radius: 60%;
  width: 1% !important;
  height: 8px !important;
  margin-right: 12px !important;

}

.carousel-indicators {
  bottom: 80px !important;
}

/* green */
.green {
  background-color: #88915c;
  height: 160px;
}

.greenOne {
  /* background-color: aqua; */
  font-family: "Courgette", serif;
  font-size: 29.114px;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenTwo {
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;


}

.green-btn {
  font-family: "PT Serif", serif;
  background-color: #88915c;
  font-size: 11.998px;
  letter-spacing: 3px;
  border: 3px solid white !important;
  color: white;
  width: 100%;
  height: 70px;
}

.green-btn:hover {
  background-color: white;
  font-weight: 600;
  color: #88915c;
}

/* welcome */
.box {
  /* background-color: cadetblue; */
  height: 740px;
}

.gap col {
  background-color: transparent;
}

.wel-main {
  /* background-color: aqua; */
}

.w-head {
  /* background-color: antiquewhite; */
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.wel-one {
  font-family: "Courgette", serif;
  font-size: 35px;
  text-align: center;

}

.wel-two {
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  font-weight: 600;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-para {
  /* background-color: burlywood; */
  color: #928b84;
  height: 30px;

}

.w-divider {
  /* background-color: lightgrey; */
  height: 70px;
}

.d-images {
  width: 200px;
  height: 25px;

}

.linkHover {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  position: absolute;
  top: 70px;
  left: 160px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 11;

}

.card-imgOne:hover .linkHover {
  visibility: visible;
}

.card-imgOne:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  /* Darken the background by 40% */
  opacity: 0.8;
  /* Apply 80% opacity to the entire element */
}

.card-imgTwo:hover .linkHover {
  visibility: visible;
}

.card-imgTwo:hover {
  background-color: #928b84;
  filter: brightness(0.6);
  /* Darken the background by 40% */
  opacity: 0.8;
  /* Apply 80% opacity to the entire element */
}

.card-imgThree:hover .linkHover {
  visibility: visible;
}

.card-imgThree:hover {
  background-color: #d8d8e3;
  filter: brightness(0.6);
  /* Darken the background by 40% */
  opacity: 0.8;
  /* Apply 80% opacity to the entire element */
}

.linkIcon {
  width: 50%;
  height: 80px;
  color: white;
  z-index: 11;

}


/* card */
.cardBox {
  /* background-color: bisque; */
  height: 440px;
}

.card-img {
  width: 370px;
  height: 240px;
  outline: 4px solid white;
  outline-offset: -15px;

}

.card-imgOne {
  background-image: url(./images/img1-370x240.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;


}

.card-imgTwo {
  background-image: url(./images/img2-370x240.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-imgThree {
  background-image: url(./images/img3-370x240.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}



.card-head {
  font-family: "Courgette", serif;
  font-size: 20.006px !important;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;

}

.card-btn {
  width: 50%;
  font-size: 11.998px !important;
  height: 60px;
  margin-left: 100px;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.btn {
  --bs-btn-border-radius: 0 !important;
  background-color: #cbb9a6 !important;
  --bs-btn-border-color: transparent !important;

}

.btn:hover {
  background-color: #88915c !important;
  border: none;
}

.card-white {
  width: 100%;
  height: 450px;

}

.card {
  border: none !important;
}

/* about */
.about {
  /* background-color: aqua; */
  background-image: url(./images/bg1-1\ pro.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  display: flex;
  align-items: center;
}

.about-main {
  /* background-color: cadetblue; */
  height: 600px;

}

.a-one {
  /* background-color: brown; */
  height: 500px;
}

.a-two {
  /* background-color: #928b84; */
  height: 500px;
}

/* about */
.about-image {
  outline: 3px solid white;
  outline-offset: -15px;
  width: 100%;
  height: 466px;
}

.a-head {
  /* background-color: aqua; */
  height: 60px;

}

.a-headOne {
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  color: #928b84;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}

.a-para {
  /* background-color: beige; */
  height: 130px;
}

.a-paraOne {
  font-family: "Courgette", serif;
  font-size: 39.998px;
}

.a-images {
  width: 25%;
}

.a-last {
  /* background-color:bisque; */
  height: 150px;
  display: flex;
  align-items: center;
}

.a-lastOne {
  font-family: "PT Serif", serif;
  font-size: 15px;
  line-height: 1.5em;
  color: #928b84;
}

.a-btn {
  /* background-color: aqua; */
  height: 100px;
  display: flex;
  align-items: center;
}

.a-btnn {
  width: 40%;
  height: 70px;
  background-color: #88915c;
  font-family: "PT Serif", serif;
  font-size: 11.998px;
  letter-spacing: 2px;
  word-spacing: 2px;
  border: none;
  color: white;
}

.a-btnn:hover {
  background-color: #cbb9a6;

}
/* content */
.content{
  background-color:aqua;
  height: 450px;
  display: flex;
  align-items: center;
}
.content-main{
  /* background-color:#928b84; */
  background-color:#c6c6d4;
  height: 250px;
}
.content-box{
  background-color: bisque;
  height: 250px;
}
.content-white{
  width: 100%;
  height: 240px !important;
}
.content row{
  margin: 0;
  padding: 0;
}
.contentBox{
  background-color: beige;
  height:240px;
}
.content-main .row>*{
 padding: 0 !important;
 margin: 0 !important;
}
.contentBox .row>*{
  margin: 0 !important;
  padding: 0 !important;
}
.content-white{
 width: 100%;
 height:240px;
}

@media (max-width: 325px) {


  .navbar-toggler-icon {
    position: absolute;
    right: 40px;
    bottom: 0;
  }

  .card-btn {
    margin-left: 18px !important;
  }
}

@media (max-width: 376px) {
  .bar-out {
    left: 210px !important;
  }

  .greenOne {
    width: 75% !important;
  }

}


@media (max-width: 576px) {
  .one {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .left {
    /* background-color: transparent; */
    height: 55px;
  }

  .three .left span {
    display: none;
  }

  .three {
    display: flex;
    justify-content: end;
    position: relative;
  }

  .bar-out {
    position: absolute;
    left: 260px;
    top: 50px;
    width: 20% !important;
  }

  .bar {
    background-image: none;
    height: auto;
    /* Reset the height */
    padding: 0;
    /* Ensure no extra padding */
  }

  .navbar-nav .nav-link {
    color: white;
    border-bottom: 1px solid #88915c;
  }

  .navbar-nav {
    background-color: #a3ad6f;
  }

  .offcanvas-body {
    padding: 0 !important;
  }

  .offcanvas-backdrop {
    display: none;
  }

  .offcanvas {
    --bs-offcanvas-width: 506px !important;
    top: 180px !important;
    /* top: 162px !important; */
  }

  .bag {
    color: rgba(0, 0, 0, 0.599) !important;

  }

  /* carousal */

  .carousel-caption h1 {
    font-size: 14px;
  }

  .captionOne,
  .captionTwo,
  .captionThree {
    left: 125px !important;
    bottom: 250px !important;
  }

  .images {
    display: none;

  }

  .carousel-indicators button {
    display: none;
  }

  /* green */

  .greenOne {
    font-size: 18.852px;
    margin: 0 auto;
    text-align: center;
  }

  .greenTwo {
    margin: 0 auto;
  }

  .green-btn {
    font-size: 10.284px;
    letter-spacing: 1px;
  }

  .wel-one {
    font-size: 24px;
  }

  .wel-two {
    font-size: 10.284px;
  }

  .box {
    height: 1585px;
    display: flex;
    justify-content: center;
  }

  .cardBox {
    height: 1300px;
  }

  .card-btn {
    width: 70%;
    margin-left: 45px;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1325px;
  }

  .about-image {

    height: 250px;
  }

  .a-headOne {
    font-size: 12px;
  }

  .a-para {
    height: 150px;
  }

  .a-paraOne {
    font-size: 24px;
  }

  .a-last {
    height: 200px;

  }

  .a-one {
    height: 570px;
  }

  .a-two {
    height: 270px;
  }

  .a-btnn {
    width: 70%;
  }








}

/*  Tablets in portrait mode.  */

@media (min-width: 577px) and (max-width: 768px) {

  .logo {
    width: 100%;
  }

  .one .left span,
  .three .left span {
    display: none;
  }

  .one .left svg {
    display: none;
  }

  .one .left .image {
    background-color: transparent;
  }

  .one {
    display: flex;
    justify-content: left;
  }

  .three {
    justify-content: end;
  }

  svg {
    /* fill: black; */
    width: 30px;
    height: 30px;
  }

  .bar-out {
    position: absolute;
    right: 670px;
    top: 42px;
    width: 12% !important;
  }

  .bar {
    background-image: none;
    height: auto;
    /* Reset the height */
    padding: 0;
    /* Ensure no extra padding */
  }

  .three .left .image {
    width: 60px;
    height: 60px;
  }

  .navbar-nav .nav-link {
    color: white;
    border-bottom: 1px solid #88915c;
  }

  .navbar-nav {
    background-color: #a3ad6f;
    width: 100%;
  }

  .offcanvas-body {
    padding: 0 !important;
  }

  .offcanvas-backdrop {
    display: none;
  }

  .offcanvas {
    --bs-offcanvas-width: 360px !important;
  }

  .bag {
    height: 40px;
    color: rgba(0, 0, 0, 0.599) !important;
  }

  .three .image {
    background-color: transparent;
  }

  /* carousal */
  .carousel-caption h1 {
    font-size: 26px;
  }

  .captionOne,
  .captionTwo,
  .captionThree {
    left: 210px !important;
    bottom: 210px !important;
  }

  .images {
    width: 130px;
    height: 17px;
  }

  .carousel-indicators button {
    display: none;
  }

  /* green */
  .greenOne {
    font-size: 21.998px;
  }

  /* welcome */

  .wel-one {
    font-size: 25.2px;
  }

  .card-btn {
    margin-left: 20px;
    width: 80%;
  }

  .card-img {
    width: 215px;
    height: 140px;
  }

  .Card-white {
    height: 300px;
  }

  .cardBox {
    height: 345px;

  }

  .box {
    height: 650px;
  }

  .about-image {
    height: 267px;
  }

  .a-paraOne {
    font-size: 30.234px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-caption h1 {
    font-size: 34px;
  }

  .captionOne,
  .captionTwo,
  .captionThree {
    left: 290px !important;
    bottom: 210px !important;

  }

  .images {
    width: 150px;
    height: 20px;

  }

  .greenOne {
    font-size: 21.994px;
  }

  .card-btn {
    margin-left: 20px;
    width: 80%;
  }

  .card-img {
    width: 100%;
    height: 150px;
  }

  .cardBox {
    height: 345px;

  }

  .box {
    height: 650px;
  }

  .about-main {
    width: 90% !important;
  }


  .about-image {

    height: 380px;
  }

}